@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
font-family: Roboto, sans-serif;
}
header, main, footer {
max-width: 1000px;
margin: 1rem auto;
border: 1px solid #ccc;
padding: 1rem;
background-color: lightblue;
}
section {
padding: 20px;
background-color: white;
}
@media screen and (min-width: 750px){
    header{
        background-color: black;
        color: white;
    }
    main{
        display: grid;
        grid-template-rows: 1fr;
    }
    section{
        grid-row: 1/2;
    }
}