main {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
  }
body{
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}
  .game-container {
    text-align: center;
    position: relative;
  }
  
  canvas {
    background-color: #eee;
    border: 1px solid #333;
  }
  
  #gameStatus {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
  }
#hssubmit{
    color: lightseagreen;
    text-decoration: none;
    padding-bottom: 20px;
}
footer{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}