@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
h1, h3{
    font-family: Amatic SC, sans-serif;
}
h1{
    font-size: 4em;
}
.hide{
    display: none;
}
#searchResults{
    text-align: center;
    margin: 0 auto;
    padding: 15px;
}
#selector{
    width: 50px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
}
#resultsBar{
    text-align: center;
}
#topicon{
    height: 100px;
}
#herobanner{
    display: flex;
    align-items: center;
    justify-content: center;
}
#searchbutton{
    height: 20px;
}
#searchbarform{
    display: flex;
    gap: 0px;
    justify-content: center;
}
#searchbar{
    height: 30px;
    font-size: 20px;
    border-radius: 5px;
}
#searchbardiv{
    padding-bottom: 20px;
}
header{
    border-bottom-style: solid;
    border-color: lightgray;
    border-width: 3px;
    margin-bottom: 20px;
}
#social a img{
    height: 80px;
}
#recipeparts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
    padding-left: 10px;
}
#recipecard{
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    border-radius: 20px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
}
#foodpic{
    width: 95%;
    align-self: center;
}
h3{
    font-size: 2em;
    color: #105e8b;
    padding-left: 12px;
}
#tags button{
    font-family: sans-serif;
    border-color: black;
    background-color: white;
    font-size: 1.65em;
}
a{
    text-decoration: none;
}
#tags{
    padding-left: 12px;
}
.rating{
    padding-left: 12px;
}
#bottom{
    text-decoration: none;
}
#social{
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-top: 40px;
}
footer{
    text-align: center;
}
#description{
    display: none;
}
@media (min-width: 650px) {
    #description{
        display: flex;
        padding-left: 12px;
    }
    #recipecard{
        flex-direction: row;
        align-items: flex-start;
    }
    #foodpic{
        max-width: 400px;
    }
    footer{
        text-align: left;
    }
    #bottom{
        padding-left: 40px;
        color:#115e8b;
    }
    .social img{
        height: 30px;
    }
    #social{
        justify-content: right;
        padding-right: 10%;
    }
    #searchbar{
        width: 80%;
    }
}
@media (min-width: 950px){
    body{
        max-width: 950px;
    }
}