body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
  display: grid;
  grid-template-rows: 10fr 1fr;
}

.game-container {
  text-align: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 5px;
  margin-bottom: 20px;
}

.square {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  border: 2px solid #ccc;
  cursor: pointer;
  background-color: #f9f9f9;
}

.square:hover {
  background-color: #e0e0e0;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

p {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}
footer{
  grid-row: 2/3;
  text-align: center;
}
main{
  grid-row: 1/2;
}
#hssubmit{
  color: lightseagreen;
  text-decoration: none;
  padding-bottom: 20px;
}