h1{
    text-align: center;
    padding: 30px;
}
nav{
    border-style: solid;
    border-width: 2px;
    border-top-color: orange;
    border-bottom-color: orange;
    color: #AF1B3F;
    text-align: right;
    border-left-width: 0px;
    border-right-width: 0px;
}
ul{
    display: grid;
    grid-template-columns: 65px 65px 65px;
    justify-content: end;
    list-style-type: none;
}
.maingrid{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.filters{
    grid-column: 2/3;
}
.publish{
    font-size: 1.3em;
}
.star{
    font-size: .8em;
}
.booktitle{
    font-size: 2em;
    color: #AF1B3F;
}
.coverimage{
    height: 450px;
    text-align: right;
}
.raiders{
    grid-row: 1/2;
}
.deepwoods{
    grid-row: 2/3;
    
}
.bookinfo{
    grid-column: 1/2;
    text-align: right;
    padding-right: 30px;
    padding-top: 10px;
}
.books{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column: 1/2;
    margin-top: 20px;
}
button{
    color: #AF1B3F;
    background-color: white;
    border-width: 0px;
}
#li1{
    grid-column: 1/2;
}
#li2{
    grid-column: 2/3;
}
#li3{
    grid-column: 3/4;
}
a{
    color: #AF1B3F;
    text-decoration: none;
}
li{
    padding-right: 20px;
}
img{
    padding-left: 40px;
}
.bookmain{
    border-style: solid;
    border-left-color: orange;
    border-width: 2px;
    border-right: none;
    border-top: none;
    border-bottom: none;
    padding-left: 20px;
}