body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f9;
}

h1 {
    margin-bottom: 20px;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(7, 60px);
    grid-template-rows: repeat(6, 60px);
    gap: 5px;
    margin-bottom: 20px;
}

.cell {
    width: 60px;
    height: 60px;
    background-color: #3498db;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cell.red {
    background-color: #e74c3c;
}

.cell.yellow {
    background-color: #f1c40f;
}

#status {
    font-size: 18px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #2ecc71;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #27ae60;
}
#hssubmit{
    color: lightseagreen;
    text-decoration: none;
    padding-bottom: 20px;
}
footer{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}